<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Data</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Welcome Mr</h1>
  <form action="/logout" method="post">
    <button value="button">logout</button>
  </form>
</body>
</html>
