<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Data</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>Register Form fill</h2>
  <form action="/register" method="post">
    Name: <input type="text" name="name" placeholder="Enter your name"> <br>
    Email: <input type="gmail" name="gmail" placeholder="Enter your email"> <br>
    password <input type="password" name="password" placeholder="password">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
